extends ../head

append js
	script(src='/js/test.js')

append css
	link(rel='stylesheet', href='/css/styles.css')
	
block content
	.container.someOtherClass
		h1#thisIsAnId hOi!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam incidunt assumenda voluptate reprehenderit repudiandae dolores voluptatem doloribus debitis autem cum repellat adipisci a impedit, rerum perferendis magnam non fuga quae?
