/*Header, Card header: #1e223d
Header text: #f6efc0
Background, Title: #edeaed
Card: #ffffff
Card Shadow: #dcd9dc
Card Title: #c3bbc3
text: #8e8d8e
buttons: #f8b72d #fce230 #53979c #36ced9
media title bar: #86adb2
Media title text: #eedd75*/

.navbar, footer {
	background-color: #1e223d;
}

.navbar > li {
	color: #f6efc0;
}

body {
	background-color: #edeaed;
	padding-bottom: 60px;
}

h1 {
	color: #000;
}

.card {
	background-color: #ffffff;
	-webkit-box-shadow: 10px 10px 0px 3px rgba(220,217,220,1);
	-moz-box-shadow: 10px 10px 0px 3px rgba(220,217,220,1);
	box-shadow: 10px 10px 0px 3px rgba(220,217,220,1);
}

.card > h2 {
	color: #edeaed;
}

p {
	color: #8e8d8e;
}

#navbar-block {
	height: 50px;
	margin-bottom: 30px;
}

.img-contact {
	height: 50px;
	width: 50px;
	display: inline;
}

.img-profile {
	height: 64px;
	width: 64px;
}

.comment-section .img-profile {
	height: 48px;
	width: 48px;
}

.comment-section {
	margin-top: 10px;
}

audio {
	width: 100%;
}

.user-contacts {
	text-align: center;
}

.user-contacts a {
	text-decoration: none;
}

/*to stretch audio player 100% on chrome*/
audio::-webkit-media-controls-enclosure {
    max-width: 100%; /*or inherit*/
}

.thumbnail {
	padding: 0px;
}

.thumbnail h2 {
	width: 100%;
	background-color: rgba(1,1,1,0.5);
	margin: 0px;
	position: absolute;
	padding: 5px;
	overflow: hidden;
}

.thumbnail a {
	text-decoration: none;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}
