/*Header, Card header: #1e223d
Header text: #f6efc0
Background, Title: #edeaed
Card: #ffffff
Card Shadow: #dcd9dc
Card Title: #c3bbc3
text: #8e8d8e
buttons: #f8b72d #fce230 #53979c #36ced9
media title bar: #86adb2
Media title text: #eedd75*/

@font-face {
    font-family: sfEspressoShack;
    src: url("/public/font/SF Espresso Shack.ttf");
}

@font-face {
    font-family: sfEspressoShack;
    src: url("/public/font/SF Espresso Shack.ttf");
    font-weight: bold;
}

@font-face {
    font-family: sfEspressoShack;
    src: url("/public/font/SF Espresso Shack Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: sfEspressoShack;
    src: url("/public/font/SF Espresso Shack Bold Italic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: whitePine;
    src: url("/public/font/WhitePine-Regular.otf");

}

.navbar, footer {
	background-color: #1e223d;
}

.navbar-default .navbar-brand {
    font-family: sfEspressoShack;
    color: white;
    font-size: 24pt;
}

.navbar-default .navbar-brand:hover {
    color: #ddd;
}

.navbar-nav>li>a>span {
    font-size: 20pt;
    vertical-align: bottom;
}

.navbar-default .navbar-nav>li>a {
    font-family: sfEspressoShack;
    vertical-align: middle;
	color: #f6efc0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #D2C884;
}

body {
	background-color: #edeaed;
	padding-bottom: 60px;
}

h1 {
	color: #000;
}

.card {
	background-color: #ffffff;
	-webkit-box-shadow: 10px 10px 0px 3px rgba(220,217,220,1);
	-moz-box-shadow: 10px 10px 0px 3px rgba(220,217,220,1);
	box-shadow: 10px 10px 0px 3px rgba(220,217,220,1);
    padding: 20px;
}

.card > h2 {
	color: #edeaed;
}

p {
	color: #8e8d8e;
}

#navbar-block {
	height: 50px;
	margin-bottom: 30px;
}

.img-contact {
	height: 50px;
	width: 50px;
	display: inline;
}

.img-profile {
    height: 64px;
    width: 64px;
}

.navbar .img-profile {
    height: 40px;
    width: 40px;
    margin-right:10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-section .img-profile {
	height: 48px;
	width: 48px;
}

.comment-section {
	margin-top: 10px;
}

audio {
	width: 100%;
}

.user-contacts {
	text-align: center;
}

.user-contacts a {
	text-decoration: none;
}

/*to stretch audio player 100% on chrome*/
audio::-webkit-media-controls-enclosure {
    max-width: 100%; /*or inherit*/
}

.thumbnail {
	padding: 0px;
}

.thumbnail h2 {
	width: 100%;
	background-color: rgba(1,1,1,0.5);
	margin: 0px;
	position: absolute;
	padding: 5px;
	overflow: hidden;
}

.thumbnail a {
	text-decoration: none;
}

footer {
    margin-top: 100px;
	width: 100%;
	padding-top: 30px;
    height: 200px;
}

/** JENNA'S STYLINGGGGGGGGG **/
#title{
    width: 200px;
}

#age{
    width: 100px;
}

#gender{
    width: 200px;
}

#traits{
    width:600px;
}

#deadline{
    width:200px;
}

label{
    color:#76a8cc;
    font-family: whitePine; 
}

.upload{
    color: #76a8cc;
    font-weight: bold;
    font-family: whitePine;
}

input[type=text], input[type=number], input[type=date], textarea.form-control {
    background-color:#edeaed;
}

input[type=submit]{
    padding:10px 20px;
    font-family:whitePine;
    color:white;
    font-size:2em;
    border-radius:5px;
    background-color:#36ced9;
    float: right;
    clear: both;
}

textarea { 
    resize: vertical;
}

.google-signin-btn {
    background-color: #F32E06;
    color: white;
    border-color: black;
}

hr {
    border-color: #ccc;
}

.search-side-nav {
    float: right;
    margin-right: 30px;
}

.content-wrapper {
    min-height: 100%;
}

.row-form {
    position: relative;
}

#logout {
    margin-left: 15px;
    margin-top: 14px;
}

.tab-content {
    padding-top: 30px;
}

.role-form {
    margin-bottom: 30px;
}

#submit-button.affix, #submit-button.affix-top{
    position: fixed;
    bottom: 50px;
    right: 50px
}

#submit-button.affix-bottom{
    position: absolute;
    right: 50px;
}