{{define "addWork"}}
{{template "header" .}}
<script src="/public/js/addWork.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 card">
			<h3>Add Work</h3>
			<hr>
			<form action="/api/v1/publishWork/" method="post">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" name="title" placeholder="Title">
				</div>
				<div class="form-group">
					<label>Youtube URL</label>
					<input type="text" class="form-control" name="url" placeholder="Example: youtubeblahblahblah">
				</div>
				<div class="form-group">
					<label>Short Description</label>
					<input type="text" class="form-control" name="shortDescription" placeholder="Short Description (140 characters)" maxlength="140">
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea type="text-area" rows="6" class="form-control" name="description" placeholder="Description"></textarea>
				</div>
				<div id="dynamicInput">
					Cast Member 1<br><input type="text" name="castEmail1"> as <input type="text" name="castRole1">						
				</div>
				<div>
					<br>
					<input type="button" class="btn btn-info" value="Add another cast member" id="addMoreCast">
				</div>
				<br/>
				<button id="submitWork" type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	<div id="notification"></div>
</div>

{{template "footer" .}}
{{end}}