{{define "browseTeams"}}
{{template "header" .}}

<script src="/public/js/affixSubmit.js"></script>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">
	        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
	        </button>
	      </span>
	    </div>
    </div>	
  </div>	
  <hr>
	<div class="row">
		{{ range .Data.contests.GetTeams }}
			<div class="col-sm-12 col-lg-8 col-xs-12 col-md-8">
				<h2>{{ .TeamName }}</h2>
				<h4>{{ .Motto }}</h4>
				{{ range .GetMembers }}
					<p>{{.DisplayName}}</p>
				{{end}}
			</div>
		{{ end }}
	</div>

</div>

{{if .Data.currentUser}}
<div id="submit-button" class="search-side-nav">
		<a href="/teams/create" class="btn btn-lg btn-default">Create your own Team</a>
</div>
{{end}}

{{template "footer" .}}
{{end}}