{{define "browseTeams"}}
{{template "header" .}}

<script src="/public/js/affixSubmit.js"></script>
<div class="container">
	<!--<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">
	        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
	        </button>
	      </span>
	    </div>
    </div>	
  </div>	
  <hr>-->
	<div class="row">
		{{if .Data.contests.GetTeams}}
			{{ range .Data.contests.GetTeams }}
			<div class="col-md-12 col-lg-10 col-lg-offset-1">
				<div class="card-padding">
					<div class="card">
						<h3 class="team-name">{{ .TeamName }}</h3>
						{{if .Motto}}
							<p class="team-motto">"{{ .Motto }}"</p>
						{{end}}
						{{ range .GetMembers }}
						<ul class="team-member-list">
							<li class="team-member-list-item">
								<a href="/profile/?id={{.Id.Hex}}">
									<img class="img-profile img-circle" src="{{.ProfilePictureURL}}">
									<p>{{.DisplayName}}</p>
								</a>
							</li>
						</ul>
						{{end}}
					</div>
				</div>
			</div>
			{{ end }}
		{{else}}
			<p class="text-center">There are no teams yet.</p>
		{{end}}
	</div>

</div>

{{if .Data.currentUser}}
<div id="submit-button" class="search-side-nav">
		<a href="/teams/create" class="blue-btn-color btn btn-lg btn-default">Create your own Team</a>
</div>
{{end}}

{{template "footer" .}}
{{end}}