{{define "castings"}}
{{template "header" .}}
<div class="container">
	<div class="row">
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
		<div class="thumbnail col-md-2">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/default_profile_pic.png">
			</a>
		</div>
	</div>
</div>
{{template "footer" .}}
{{end}}