{{define "castings"}}
{{template "header" .}}
{{if .Data.currentUser}}
<div class="search-side-nav">
	<div data-spy="affix" data-offset-top="200px" data-offset-bottom="200px">
		<a href="/submitCasting/" class="btn btn-lg btn-default">SUBMIT</a>
	</div>
</div>
{{end}}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">
	        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
	        </button>
	      </span>
	    </div>
    </div>	
  </div>	
  <hr>
	<div class="row">
		{{ range .Data.roles }}
			<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
				<a href="/role/?id={{ .Id.Hex }}">
					<h2>{{ .Title }}</h2>
					<img class="img-responsive" src="/public/img/placeholder.png">
				</a>
			</div>
		{{ end }}<!-- 
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 1</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 2</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div>
		<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
			<a href="/role/">
				<h2>Role 3</h2>
				<img class="img-responsive" src="/public/img/placeholder.png">
			</a>
		</div> -->
	</div>
	<nav class=text-center>
	  <ul class="pagination">
	    <li class="disabled">
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
{{template "footer" .}}
{{end}}