{{define "createProject"}}
{{template "header" .}}
<script src="/public/js/submitWork.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 card">
			<h3>Add Project</h3>
			<hr>
			<form id ="projectForm" action="/api/v1/submitProject/" method="post">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" id="title" name="title" placeholder="Title">
				</div>
				<div class="form-group">
					<label>Youtube URL</label>
					<input type="text" class="form-control" id="url" name="url" placeholder="Example: youtubeblahblahblah">
				</div>
				<div class="form-group">
					<label>Short Description</label>
					<input type="text" class="form-control" name="shortDescription" id="shortDescription" placeholder="Short Description (140 characters)" maxlength="140">
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea type="text-area" rows="6" class="form-control" name="description" placeholder="Description" id="description"></textarea>
				</div>
				<div class="form-group" id="dynamicInput">
					<div>
						Cast Member 1<br><div class="form-group castForm"><input type="text" class="castEmails form-control" name="castEmail[]" placeholder="UserEmail@CoAud.io"/></div> as <div class="form-group castForm"><input type="text" class="castRoles form-control" name="castRole[]" placeholder="Animator"/></div>		
					</div>			
				</div>
				<div>
					<br>
					<input type="button" class="btn btn-info" value="Add another cast member" id="addMoreCast">
					<input type="button" class="btn btn-danger" value="Remove cast member" style="display:none;" id="removeCast">
				</div>
				<br/>
				<button id="submitProject" type="submit" class="btn btn-default" data-id="{{ .Data.project.Id.Hex }}">Submit</button>
			</form>
		</div>
	</div>
	<div id="notification"></div>
	
</div>

<style>
	.castForm {
    	display: inline-block;
	}
	.subtract {
		display: inline-block;
	}
</style>

{{template "footer" .}}
{{end}}