{{define "editProject"}}
{{template "header" .}}
	<div id="ProfileForm" class="container">
		<div id="notification"></div>
		<div class="card profile-project">
			<h3>Edit Projects</h3>
				{{ range .Data.postedProjects }}
				<div class="thumbnail col-md-4">
					<a href="/EditProject/?id={{ .Id.Hex }}">
						<h2>{{.Title}}</h2>
						<img class="img-responsive" src="http://img.youtube.com/vi/{{.GetYoutubeID}}/0.jpg">
					</a>
				</div>
				{{ end }}
		</div>		
	</div>
	
	<script>
	$(document).ready(function(){
		if(window.location.hash == '#success'){
			$("#notification").css("display", "block");
			$("#notification").addClass("alert alert-success");
			$("#notification").html("Project has been edited");
			$("#notification").fadeOut( 3000 );
		}
	});
		
	</script>

{{template "footer" .}}
{{end}}