{{define "footer"}}
	</div> <!--end of content-wrapper -->
	<footer>
		<div class="container">
			<ul id="footer-links">
				<li style="margin-right: 100px;">
					<h4 class="footer-header">Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="https://www.facebook.com/coaudio.community/">Facebook Page</a></li>
					</ul>
				</li>
				<li>
					<h4 class="footer-header">Community</h4>
					<ul class="list-unstyled">
						<li><a href="/contest/">Contest</a></li>
						<li><a href="/auditions/browse/">Audition</a></li>
						<li><a href="/projects/browse/">Explore showcase</a></li>
					</ul>
				</li>
			</ul>
			<div>
				<p>&copy; 2016 Co-Aud, All rights reserved.</p>
			</div>	
		</div>
	</footer>
	</body>
</html>
{{end}}