{{define "home"}}
{{template "header" .}}
<script src="/public/js/multiItemCarousel.js"></script>
<script src="/public/js/infiniteScroll.js"></script>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
					</button>
				</span>
			</div>
		</div>
	</div>
	
	{{if .Data.projects }}
	<div class="row">
		<div class="jcarousel-wrapper">
			<div class="jcarousel" data-jcarousel="true">
				<ul style="left: -600px; top: 0px;">
					{{ range .Data.projects }}
						<!--Only supports youtube now-->
						<li style="width: 200px;"><a href="/projects/?id={{ .Id.Hex }}"><img src="http://img.youtube.com/vi/{{.GetYoutubeID}}/0.jpg"></a></li>
					{{ end }}
				</ul>
			</div>
			<a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
			<a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
			<p class="jcarousel-pagination" data-jcarouselpagination="true">
				<a href="#1" class="">1</a>
				<a href="#2" class="">2</a>
				<a href="#3" class="">3</a>
				<a href="#4" class="">4</a>
				<a href="#5" class="">5</a>
				<a href="#6" class="">6</a>
			</p>
		</div>
	</div>
	{{end}}
	<div id="home-page-roles" class="row" style="margin-top: 50px;">
		{{ range .Data.roles }}
			<div class="thumbnail col-sm-3 col-lg-3 col-xs-6 col-md-3">
				<a href="/auditions/?id={{ .Id.Hex }}">
					<h2>{{ .Title }}</h2>
					<img class="img-responsive" src="{{.ImageUrl}}">
				</a>
			</div>
		{{ end }}
	</div>
</div>
{{template "footer" .}}
{{end}}