{{define "profile"}}
{{template "header" .}}
{{if .Data.currentUser }}
	{{if eq .Data.currentUser.Id.Hex .Data.user.Id.Hex }}
	<div class="search-side-nav">
		<div data-spy="affix" data-offset-top="200px" data-offset-bottom="200px">
			<a href="/profile/edit/" class="btn btn-lg btn-default">Edit Profile</a>
		</div>
	</div>
	{{end}}
{{end}}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img class="img-circle img-responsive" src="/public/img/default_profile_pic.png">
				<h1>{{ .Data.user.DisplayName }}</h1>
				<!--Username should go here <h3>{{ .Data.user.DisplayName }}</h3>-->
				<hr>
				<p>{{ .Data.user.Title }}</p>
				<p>Joined on: {{ .Data.user.JoinDate }}</p>
				<div class="user-contacts row">
					<!--<a href="https://www.youtube.com/">
						<img class="img-contact img-circle img-responsive" src="/public/img/youtube_icon.png">
					</a>-->
					{{if .Data.user.FacebookURL }}
						<a href="{{ .Data.user.FacebookURL }}">
							<img class="img-contact img-circle img-responsive" src="/public/img/facebook_icon.png">
						</a>
					{{end}}
					{{if .Data.user.TwitterURL }}
						<a href="{{ .Data.user.TwitterURL }}">
							<img class="img-contact img-circle img-responsive" src="/public/img/twitter_icon.png">
						</a>
					{{end}}
				</div>
			</div>
			<div class="col-md-8">
				<h1>About Me</h1>
				<p>{{ .Data.user.AboutMe }} 
				</p>
				<div class="row">
					<h1>My Works</h1>
					{{ range .Data.postedWorks }}
					<div class="thumbnail col-md-4">
						<a href="/work/?id={{ .Id.Hex }}">
							<h2>{{.Title}}</h2>
							<img class="img-responsive" src="/public/img/placeholder.png">
						</a>
					</div>
					{{ end }}
				</div>
				<div class="row">
					<h1>Posted Roles</h1>
					{{ range .Data.postedRoles }}
						<div class="thumbnail col-md-4">
							<a href="/role/?id={{ .Id.Hex }}">
								<h2>{{.Title}}</h2>
								<img class="img-responsive" src="/public/img/placeholder.png">
							</a>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
{{template "footer" .}}
{{end}}