{{define "projectPage"}}
{{template "header" .}}

<div class="container">
	<div class="row">
		<div>
			<h2>Project Page</h2>
			<iframe width="80%" height="450px" src="https://www.youtube.com/embed/7AIdIkDLSIE" frameborder="0" allowfullscreen></iframe>
			<video width="640" height="360" id="player1" preload="none">
    			<source type="video/youtube" src="http://www.youtube.com/watch?v=nOEw9iiopwI" />
			</video>
			<script>
				var player = new MediaElementPlayer('#player1');
			</script>
			<div id="cast">
				<h1>Cast:</h1>
				<ul style="list-style-type:none">
					<li><img class="img-profile img-circle" src="/public/img/default_profile_pic.png">					
					</li>
					<li><img class="img-profile img-circle" src="/public/img/default_profile_pic.png">
					</li>
					<li><img class="img-profile img-circle" src="/public/img/default_profile_pic.png">
						<!--Azir 
						Voice Actor-->
					</li>
				</ul>  
			</div>
		</div>
	</div>
	<br>
	<div class="form-horizontal">
		<h1>Title of the Video</h1>
		<p>
			Description of the video Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ipsam, laboriosam. Sapiente quod pariatur aliquid numquam, libero, ipsum temporibus saepe fugiat nulla, doloremque exercitationem! Cupiditate provident aspernatur consectetur. Inventore, labore.
		</p>
	</div>

	<hr>

	<ul class="audition-section media-list">
	  <li class="audition media">
	    <div class="media-left">
	      <a href="#">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Interested Person</h4>
	      <p>Attempt3.mp3
	      	<span class="pull-right glyphicon glyphicon-thumbs-up"></span>
	      	<span class="pull-right">234</span>
	      </p>
	      <audio controls>
					<source src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/75/Snip_kill_14.mp3" type="audio/mpeg">
				</audio>
				<ul class="comment-section media-list">
				  <li class="media">
				    <div class="comment-posted media-left">
				      <a href="#">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-posted media">
				    <div class="media-left">
				      <a href="#">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-submission media">
				    <div class="media-left">
				      <a href="#">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <form>
				      	<textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
				      	<button type="submit" class="btn btn-default pull-right">Post</button>
				      	<button type="submit" class="btn btn-default pull-right">Cancel</button>
				      </form>
				    </div>
				  </li>
				</ul>
	    </div>
	  </li>
	</ul>
	<ul class="audition-section media-list">
	  <li class="audition media">
	    <div class="media-left">
	      <a href="#">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Interested Person</h4>
	      <p>Attempt3.mp3
	      	<span class="pull-right glyphicon glyphicon-thumbs-up"></span>
	      	<span class="pull-right">234</span>
	      </p>
	      <audio controls>
					<source src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/75/Snip_kill_14.mp3" type="audio/mpeg">
				</audio>
				<ul class="comment-section media-list">
				  <li class="media">
				    <div class="comment-posted media-left">
				      <a href="#">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-posted media">
				    <div class="media-left">
				      <a href="#">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-submission media">
				    <div class="media-left">
				      <a href="#">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <form>
				      	<textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
				      	<button type="submit" class="btn btn-default pull-right">Post</button>
				      	<button type="submit" class="btn btn-default pull-right">Cancel</button>
				      </form>
				    </div>
				  </li>
				</ul>
	    </div>
	  </li>
	</ul>
</div>

<style>
	iframe {
		float:left
	}
	#cast {
		float:left
	}
	li > img {
		float:left
	}
	li > p {
		float:left
	}
	li > img {
		margin-bottom:8px
		
	}


</style>
{{template "footer" .}}
{{end}}