{{define "projectPage"}}
{{template "header" .}}

<div class="container">
	<div class="row">
		<div class="col-md-12 embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eghk9bVNN9M" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-md-9">
			<h1>Title of the Video</h1>
			<p>
				Description of the video Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ipsam, laboriosam. Sapiente quod pariatur aliquid numquam, libero, ipsum temporibus saepe fugiat nulla, doloremque exercitationem! Cupiditate provident aspernatur consectetur. Inventore, labore.
			</p>
		</div>
		<div id="cast" class="col-md-3">
			<h1>Cast:</h1>
			<ul class="media-list">
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">Mikey Wong</h4></a>
				    <p>Animator</p>
				  </div>
				</li>
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">Temmie</h4></a>
				    <p>Voice Actor</p>
				  </div>
				</li>
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">Alex</h4></a>
				    <p>Voice Actor</p>
				  </div>
				</li>
			</ul>	
		</div>
	</div>
</div>

<style>
	iframe {
		float:left
	}
	#profile #cast {
		float:left
	}
	li > img {
		float:left
	}
	li > p {
		float:left
	}
	li > img {
		margin-bottom:8px
		
	}


</style>
{{template "footer" .}}
{{end}}