{{define "projectPage"}}
{{template "header" .}}

<div class="container">
	<div class="row">
		<div class="col-md-9 embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eghk9bVNN9M" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="cast" class="col-md-3">
			<h1>Cast:</h1>
			<ul class="media-list">
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">Mikey Wong</h4></a>
				    <p>Animator</p>
				  </div>
				</li>
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">Temmie</h4></a>
				    <p>Voice Actor</p>
				  </div>
				</li>
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">Alex</h4></a>
				    <p>Voice Actor</p>
				  </div>
				</li>
			</ul>	
		</div>
	</div>
	<br>
	<div class="form-horizontal">
		<h1>Title of the Video</h1>
		<p>
			Description of the video Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ipsam, laboriosam. Sapiente quod pariatur aliquid numquam, libero, ipsum temporibus saepe fugiat nulla, doloremque exercitationem! Cupiditate provident aspernatur consectetur. Inventore, labore.
		</p>
	</div>

	<hr>
	<ul class="comment-section media-list">
	  <li class="media">
	    <div class="comment-posted media-left">
	      <a href="/profile/">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Critic</h4>
	      <p>great job! this is pretty awesome yeyeye</p>
	    </div>
	  </li>
	  <li class="comment-posted media">
	    <div class="media-left">
	      <a href="/profile/">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Critic</h4>
	      <p>great job! this is pretty awesome yeyeye</p>
	    </div>
	  </li>
	  <li class="comment-submission media">
	    <div class="media-left">
	      <a href="/profile/">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <form>
	      	<textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
	      	<button type="submit" class="btn btn-default pull-right">Post</button>
	      	<button type="submit" class="btn btn-default pull-right">Cancel</button>
	      </form>
	    </div>
	  </li>
	</ul>
</div>

<style>
	iframe {
		float:left
	}
	#profile #cast {
		float:left
	}
	li > img {
		float:left
	}
	li > p {
		float:left
	}
	li > img {
		margin-bottom:8px
		
	}


</style>
{{template "footer" .}}
{{end}}