{{define "rolepage"}}
{{template "header" .}}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img class="img-circle img-responsive" src="/public/img/default_role_pic.png">
		</div>
		<div class="col-md-6">
			<h2>{{ .Data.role.Title }}</h2>
			<ul> 
				<li>Age: {{ .Data.role.Age }}</li>
				<li>Gender: {{ .Data.role.Gender }}</li>
				<li>Traits: {{ .Data.role.Traits }}</li>
				<li>Description: {{ .Data.role.Description }}</li>
				<li>Script: {{ .Data.role.Script }}</li>
			</ul>
		</div>
		<div class="col-md-3">
			<p><strong>Posted by:</strong></p>
			<a href="/profile/?id={{.Data.author.Id.Hex}}">
				<p>{{ .Data.author.DisplayName }}</p>
			</a>
			<p><strong>Deadline:</strong></p>
			<p>{{ .Data.role.Deadline }}</p>
		</div>
	</div>

	<br>

	<form class="form-horizontal">
		<div class="form-group">
	    <label class="col-md-2 control-label" for="uploadInput">Audition:</label>
    	<div class="col-md-8">
	    	<input type="text" class="form-control" id="uploadInput" placeholder="Choose File" readonly>
	    </div>	
	    <div class="col-md-2">	
	    	<button type="submit" class="btn btn-default">Upload</button>
	    </div>	
	  </div>
	</form>

	<hr>

	<ul class="audition-section media-list">
	  <li class="audition media">
	    <div class="media-left">
	      <a href="/profile/">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Interested Person</h4>
	      <p>Attempt3.mp3
	      	<span class="pull-right glyphicon glyphicon-thumbs-up"></span>
	      	<span class="pull-right">234</span>
	      </p>
	      <audio controls>
					<source src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/75/Snip_kill_14.mp3" type="audio/mpeg">
				</audio>
				<ul class="comment-section media-list">
				  <li class="media">
				    <div class="comment-posted media-left">
				      <a href="/profile/">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-posted media">
				    <div class="media-left">
				      <a href="/profile/">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-submission media">
				    <div class="media-left">
				      <a href="/profile/">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <form>
				      	<textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
				      	<button type="submit" class="btn btn-default pull-right">Post</button>
				      	<button type="submit" class="btn btn-default pull-right">Cancel</button>
				      </form>
				    </div>
				  </li>
				</ul>
	    </div>
	  </li>
	</ul>
	<ul class="audition-section media-list">
	  <li class="audition media">
	    <div class="media-left">
	      <a href="/profile/">
	        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Interested Person</h4>
	      <p>Attempt3.mp3
	      	<span class="pull-right glyphicon glyphicon-thumbs-up"></span>
	      	<span class="pull-right">234</span>
	      </p>
	      <audio controls>
					<source src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/75/Snip_kill_14.mp3" type="audio/mpeg">
				</audio>
				<ul class="comment-section media-list">
				  <li class="media">
				    <div class="comment-posted media-left">
				      <a href="/profile/">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-posted media">
				    <div class="media-left">
				      <a href="/profile/">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Critic</h4>
				      <p>great job! this is pretty awesome yeyeye</p>
				    </div>
				  </li>
				  <li class="comment-submission media">
				    <div class="media-left">
				      <a href="/profile/">
				        <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				      </a>
				    </div>
				    <div class="media-body">
				      <form>
				      	<textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
				      	<button type="submit" class="btn btn-default pull-right">Post</button>
				      	<button type="submit" class="btn btn-default pull-right">Cancel</button>
				      </form>
				    </div>
				  </li>
				</ul>
	    </div>
	  </li>
	</ul>
</div>
{{template "footer" .}}
{{end}}