{{define "rolepage"}}
{{template "header" .}}
<script src="/public/js/role.js"></script>
<script src="/public/js/submitComment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img class="img-circle img-responsive" src="{{.Data.role.ImageUrl}}">
		</div>
		<div class="col-md-6">
			<h2>{{ .Data.role.Title }}</h2>
			<ul> 
				<li>Age: {{ .Data.role.Age }}</li>
				<li>Gender: {{ .Data.role.Gender }}</li>
				<li>Traits: {{ .Data.role.Traits }}</li>
				<li>Description: {{ .Data.role.Description }}</li>
				<li>Script: {{ .Data.role.Script }}</li>
			</ul>
		</div>
		<div class="col-md-3">
			<p><strong>Posted by:</strong></p>
			<a href="/profile/?id={{.Data.author.Id.Hex}}">
				<p>{{ .Data.author.DisplayName }}</p>
			</a>
			<p><strong>Deadline:</strong></p>
			<p>{{ .Data.role.Deadline }}</p>
		</div>
	</div>

	<br>
	
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#auditions">Auditions</a></li>
		<li><a data-toggle="tab" href="#comments">Comments</a></li>
	</ul>

	<div class="tab-content">
		<!--Audition section-->
		<div id="auditions" class="tab-pane fade in active">
			{{if .Data.currentUser}}
				<form id="formAudition" enctype="multipart/form-data" class="role-form form-horizontal" action="/api/v1/submitAudition/" method="POST">
					<div class="form-group">
						<label class="col-md-2 control-label" for="uploadInput">Your audition:</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="uploadInput" name="auditionName" placeholder="Choose File">
							<input type="file" id="auditionFile" name="auditionFile" accept=".mp3,audio/*" data-validation="size" data-validation-max-size="6M">
						</div>	
						<div class="col-md-2">	
							<button id="auditionSubmit" type="submit" class="btn btn-default" data-id="{{ .Data.role.Id.Hex }}">Submit</button>
						</div>	
					</div>
				</form>
			{{end}}
			<ul class="audition-section media-list">
				{{ range .Data.role.Audition }}
					<li class="audition media">
					<div class="media-left">
						<a href="/profile/?id={{.User.Id.Hex}}">
							<img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{.User.DisplayName}}</h4>
						<p>Title goes here
							<!--<span class="pull-right glyphicon glyphicon-thumbs-up"></span>
							<span class="pull-right">234</span>-->
							<span class="pull-right">{{.TimeStamp}}</span>
						</p>
						<audio controls>
							<source src="{{ .AttachmentUrl }}" type="audio/mpeg">
						</audio>
						<ul class="comment-section media-list">
							{{range .Comment}}
							<li class="comment-posted media">
								<div class="media-left">
									<a href="/profile/?id={{.User.Id.Hex}}">
										<img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
									</a>
								</div>
								<div class="media-body">
									<a href="/profile/?id={{.User.Id.Hex}}"><h4 class="media-heading">{{ .User.DisplayName }}</h4></a>
									<p>{{ .Message }}</p>
								</div>
							</li>
							{{end}}
							<li class="comment-submission media">
								<div class="media-left">
									<a href="/profile/">
										<img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
									</a>
								</div>
								<div class="media-body">
									<form>
										<textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
										<button type="submit" class="btn btn-default pull-right">Post</button>
									</form>
								</div>
							</li>
						</ul>
					</div>
					</li>
				{{ end }}
			</ul>
		</div>
		
		<!--Comment section-->
		<div id="comments" class="tab-pane fade">
			{{if .Data.currentUser}}
				<div class="role-form comment-submission media">
					<div class="media-left">
						<a href="/profile/?id={{.Data.currentUser.Id.Hex}}">
							<img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
						</a>
					</div>
					<div class="media-body">
						<form>
							<textarea id="roleCommentContent" name="roleCommentContent" class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
							<button id="roleCommentButton" type="submit" class="btn btn-default pull-right" data-id="{{ .Data.role.Id.Hex }}">Post</button>
						</form>
					</div>
				</div>
			{{end}}
			
			<ul class="comment-section media-list">
				{{ range .Data.role.Comment }}
					<li class="comment-posted media">
						<div class="media-left">
							<a href="/profile/?id={{.User.Id.Hex}}">
								<img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
							</a>
						</div>
						<div class="media-body">
							<a href="/profile/?id={{.User.Id.Hex}}"><h4 class="media-heading">{{ .User.DisplayName }}</h4></a>
							<p>{{ .Message }}</p>
						</div>
					</li>
				{{ end }}
			</ul>
		</div>
	</div>
	
	<br>

	<!--testing purposes-->
	<div id="notification"></div>
</div>
{{template "footer" .}}
{{end}}