{{define "seanTest"}}
{{template "header" .}}

<div class="container">
	<div class="row">
		<div class="col-md-12 embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Data.youtubeCode }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-md-9">
			<h1>{{ .Data.work.Title }}</h1>
			<p>
				{{ .Data.work.Description }}
			</p>
		</div>
		<div id="cast" class="col-md-3">
			<h1>Cast:</h1>
			<ul class="media-list">
				{{ range .Data.work.Cast }}
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">{{ .User.DisplayName }}</h4></a>
				    <p>{{ .Role }}</p>
				  </div>
				</li>
				{{ end }}
			</ul>	
		</div>
	</div>
</div>

<style>
	iframe {
		float:left
	}
	#profile #cast {
		float:left
	}
	li > img {
		float:left
	}
	li > p {
		float:left
	}
	li > img {
		margin-bottom:8px
		
	}
</style>

{{template "footer" .}}
{{end}}
