{{define "seanTest"}}
{{template "header" .}}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img class="img-circle img-responsive" src="/public/img/default_profile_pic.png">
			<h2 class="text-center">{{ .Data.submission.title }}</h2>
		</div>
		<div class="col-md-6">
			<h2>Character Bio</h2>
			<p> Age: {{ .Data.submission.age }}
 Gender: {{ .Data.submission.gender }}
 Traits: {{ .Data.submission.traits }}
 Bio: {{ .Data.submission.description }}</p>
		</div>
		<div class="col-md-3">
			<p><strong>Posted by:</strong></p>
			<p>GrumpyAnimation</p>
			<p><strong>Deadline:</strong></p>
			<p>{{ .Data.submission.deadline }}</p>
			<p><strong>Download Script:</strong></p>
			<p><a href="!">grumpyjoe-script.pdf</a></p>
		</div>
	</div>
<p>{{ .Data.submission }}</p>
</div>
{{template "footer" .}}
{{end}}