{{define "submitCasting"}}
{{template "header" .}}
<form enctype="multipart/form-data" action="/seanTest/" method="post">
	<div class="container">
		<div class="row">
			<div class="col-md-3 card">
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control input-lg" name="title" placeholder="Name">
				</div>
				<div class="form-group">
					<img class="img-circle img-responsive" src="/public/img/default_profile_pic.png">
					<label class="upload">Upload new photo</label>
					<input type="file" accept="image/*" name="photo">
				</div>
				<div class="form-group">
					<label>Deadline</label>
					<input class="form-control" type="date" name="deadline">
				</div>
			</div>
			<div class="col-md-8 col-md-offset-1 card">
				<div class="form-group">
					<label>Age</label>
					<input type="number" class="form-control" id="age" name="age" placeholder="Age">
				</div>
				<div class="form-group">
					<label>Gender</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="genderMale" value="Male"> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="genderFemale" value="Female"> Female
					</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="genderOther" value="Other"> Other
					</label>
				</div>
				<div class="form-group">
					<label>Traits</label>
					<input type="text" class="form-control" name="traits" placeholder="Traits">
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea type="text-area" rows="6" class="form-control" name="description" placeholder="Description"></textarea>
				</div>
				<div class="form-group">
					<label>Script</label>
					<textarea type="text-area" rows="6" class="form-control" name="script" placeholder="Script"></textarea>
				</div>
				<input type="submit">
			</div>		
		</div>  
	</div>	
</form>

{{template "footer" .}}
{{end}}