{{define "viewProfile"}}
{{template "header" .}}
<!--{{if .Data.currentUser }}
	{{if eq .Data.currentUser.Id.Hex .Data.user.Id.Hex }}
	<div class="search-side-nav">
		<div data-spy="affix" data-offset-top="200px" data-offset-bottom="200px">
			<a href="/profile/edit/" class="btn btn-lg btn-default">Edit Profile</a>
		</div>
	</div>
	{{end}}
{{end}}-->
	<div id="ProfileForm" class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="card-padding">
					<div class="card">
						<div class="col-md-6">
							<img class="img-circle img-responsive" src="/public/img/default_profile_pic.png">
						</div>
						<div class="col-md-6">
							<h3 id="profile-display-name">{{ .Data.user.DisplayName }}</h3>
							<!--Username should go here <h3>{{ .Data.user.DisplayName }}</h3>-->
							<hr id="profile-name" class="card-hr">
							<p id="profile-title">{{ .Data.user.Title }}</p>
							<p>Joined on: {{ .Data.user.JoinDate }}</p>
							{{if .Data.currentUser }}
								{{if eq .Data.currentUser.Id.Hex .Data.user.Id.Hex }}
									<a href="/profile/edit/" class="btn btn-lg btn-default">Edit Profile</a>
								{{end}}
							{{end}}
						</div>
						<div class="user-contacts col-md-12">
							{{if .Data.user.InstagramURL }}
							<a href="{{ .Data.user.InstagramURL }}">
								<img class="img-contact img-circle img-responsive" src="/public/img/instagram_icon.png">
							</a>
							{{end}}
							{{if .Data.user.FacebookURL }}
								<a href="{{ .Data.user.FacebookURL }}">
									<img class="img-contact img-circle img-responsive" src="/public/img/facebook_icon.png">
								</a>
							{{end}}
							{{if .Data.user.TwitterURL }}
								<a href="{{ .Data.user.TwitterURL }}">
									<img class="img-contact img-circle img-responsive" src="/public/img/twitter_icon.png">
								</a>
							{{end}}
						</div>
					</div>
				</div>
				{{if .Data.user.AboutMe}}
				<div id="aboutMe" class="card-padding">
					<div class="card">
						<h3>About Me</h3>
						<p>{{ .Data.user.AboutMe }}</p>	
					</div>
				</div>
				{{else}}
					{{if .Data.currentUser}}
						{{if eq .Data.currentUser.Id.Hex .Data.user.Id.Hex }}
						<div class="card-padding">
							<div class="card">
								<h3>About Me</h3>
								<p>Tell us more about yourself!</p>
								<a href="/profile/edit/" class="btn btn-default">Edit</a>
							</div>
						</div>
						{{end}}
					{{end}}
				{{end}}
			</div>
			<div class="col-md-7">
				<div id="projects" class="card-padding row">
					<div class="card profile-project">
						<h3>Showcase<a href="/project/edit/?id={{ .Data.currentUser.Id.Hex }}"><button class="btn btn-default edit">Edit Posted Projects</button></a></h3>
						{{ if .Data.postedProjects }}
							{{ range .Data.postedProjects }}
							<div class="thumbnail col-md-4">
								<a href="/projects/?id={{ .Id.Hex }}">
									<h2>{{.Title}}</h2>
									<img class="img-responsive" src="http://img.youtube.com/vi/{{.GetYoutubeID}}/0.jpg">
								</a>
							</div>
							{{ end }}
						{{ else }}
							{{if .Data.currentUser}}
								{{if eq .Data.currentUser.Id.Hex .Data.user.Id.Hex }}
								<p>Do you have something to show? Submit it to the showcase!</p>
								<a href="/projects/create" class="btn btn-default">Submit A Project</a>
								{{end}}
							{{ else }}
								<p>{{ .Data.user.DisplayName }} doesn't have any projects submitted.</p>
							{{end}}
						{{ end }}
					</div>
					
				</div>
				<div class="card-padding row">
					<div class="card">
						<h3>Posted Auditions<a href="/auditions/edit/?id={{ .Data.currentUser.Id.Hex }}"><button class="btn btn-default edit">Edit Posted Auditions</button></a></h3>
						{{ if .Data.postedRoles }}
							{{ range .Data.postedRoles }}
								<div class="thumbnail col-md-4">
									<a href="/role/?id={{ .Id.Hex }}">
										<h2>{{.Title}}</h2>
										<img class="img-responsive" src="{{.ImageUrl}}">
									</a>
								</div>
							{{ end }}
							{{ else}}
								{{if .Data.currentUser}}
									{{if eq .Data.currentUser.Id.Hex .Data.user.Id.Hex }}
									<p>Do you need a voice actor? Request one now!</p>
									<a href="/auditions/create" class="btn btn-default">Request an Audition</a>
									{{end}}
								{{ else }}
									<p>{{ .Data.user.DisplayName }} doesn't have any auditions posted.</p>
								{{end}}
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<style>
		.edit {
			float:right;
		}
		
		
		
	</style>
{{template "footer" .}}
{{end}}