{{define "viewProject"}}
{{template "header" .}}

<div class="container">
	<div id="notification"></div>
	<div class="row">
		<div class="col-md-12 embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Data.project.GetYoutubeID }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div id="project-description" class="col-md-9">
			<div class="card">
				<h3>{{ .Data.project.Title }}</h3>
				<hr>
				<p>
					{{ .Data.project.Description }}
				</p>
			</div>
		</div>
		<div id="cast" class="col-md-3">
			<div class="card">
				<h3>Cast</h3>
				<hr>
				<ul class="media-list">
					{{ range .Data.project.GetCast }}
					<li class="media">
						<div class="media-left">
							<a href="/profile/?id={{ .GetUser.Id.Hex }}">
								<img class="img-profile media-object img-circle" src="/public/img/default_profile_pic.png">
							</a>
						</div>
						<div class="media-body vertical-align">
							<a href="/profile/?id={{ .GetUser.Id.Hex }}"><h4 class="media-heading"><strong>{{ .GetUser.DisplayName }}</strong></h4></a>
							<p>{{ .Role }}</p>
						</div>
					</li>
					{{ end }}
				</ul>	
			</div>
		</div>
	</div>

</div>

<style>
	iframe {
		float:left
	}
	#profile #cast {
		float:left
	}
	li > img {
		float:left
	}
	li > p {
		float:left
	}
	li > img {
		margin-bottom:8px
		
	}
</style>
<script>
	$(document).ready(function(){
		if(window.location.hash == '#success'){
			$("#notification").css("display", "block");
			$("#notification").addClass("alert alert-success");
			$("#notification").html("Project has been edited");
			$("#notification").fadeOut( 3000 );
		}
	});
	
</script>

{{template "footer" .}}
{{end}}
