{{define "viewTeam"}}
{{template "header" .}}

<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			<h4>{{ .Data.team.TeamName }}</h4>
			<p class="team-motto">{{ .Data.team.Motto }}</h1>
		</div>
		<div id="cast" class="col-md-3">
			<ul>
				{{ range .Data.team.Users }}
				<li class="media">
				  <div class="media-left">
				    <a href="/profile/">
				      <img class="img-profile media-object img-circle" src="{{.User.ProfilePictureURL}}">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="/profile/"><h4 class="media-heading">{{ .User.DisplayName }}</h4></a>
				  </div>
				</li>
				{{ end }}
			</ul>	
		</div>
	</div>

</div>

{{template "footer" .}}
{{end}}
