{{define "viewContest"}}
{{template "header" .}}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Contest</h2>
			<iframe width="100%" height="450px" src="https://www.youtube.com/embed/7AIdIkDLSIE" frameborder="0" allowfullscreen></iframe>	
		</div>
		<div class="prevContests col-md-3">
			<h3>Previous Contests</h3>
		</div>
	</div>

	
	<div class="container">
		</div>
		<h3>{{ .Data.contest.Title }}</h3>
		<p>
			{{ .Data.contest.Description }}
		</p>
		<hr>
		<div id="wrapper">
			<button onclick="location.href='/teams/create';" class="btn btn-default contestButtons" data-id="{{ .Data.contest.Id.Hex }}">Create Teams</button><button onclick="location.href='/teams/browse';" class="btn btn-info contestButtons" data-id="{{ .Data.contest.Id.Hex }}">Browse Teams</button>
			
		</div>
		
	</div>
</div>
	
<style>
	#prevContests {
		float:right;
	}
	
	#wrapper {
		text-align:center;
	}
	contestButtons {
		position: relative;
	}

</style>
{{template "footer" .}}
{{end}}