{{define "viewContest"}}
{{template "header" .}}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="card-padding">
				<div class="card">
					<h3>{{ .Data.contest.Title }}</h3>
					<!--<iframe width="100%" height="450px" src="https://www.youtube.com/embed/7AIdIkDLSIE" frameborder="0" allowfullscreen></iframe>-->
					<img src="{{.Data.contest.ImageUrl}}" alt="contest image">
					<br>
					<h4><strong>Description:</strong></h4>
					<p>
						{{ .Data.contest.Description }}
					</p>
					<hr>
					<div id="wrapper">
						<button onclick="location.href='/teams/create';" class="blue-btn-color btn btn-default contestButtons" data-id="{{ .Data.contest.Id.Hex }}">Create Teams</button><button onclick="location.href='/teams/browse';" class="aqua-btn-color btn btn-info contestButtons" data-id="{{ .Data.contest.Id.Hex }}">Browse Teams</button>
						<br>
						<br>
						<button onclick="location.href='/contest/submit';" class="orange-btn-color btn btn-default contestButtons">Submit Your Project</button>
					</div>
				</div>
			</div>
		</div>
		<div class="prevContests col-md-4">
			<div class="card-padding">
				<div class="card">
					<h3>Previous Contests</h3>
				</div>
			</div>
		</div>
	</div>

	
	<div class="container">
		
		
	</div>
</div>
	
<style>
	#prevContests {
		float:right;
	}
	
	#wrapper {
		text-align:center;
	}
	contestButtons {
		position: relative;
	}

</style>
{{template "footer" .}}
{{end}}